.App {
  background-image: linear-gradient(
    rgb(126, 9, 60),
    rgb(245, 21, 253)
  );
}

.App {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3GR9u_1fXpDPHOoXft-dHDqJ3wZVGG27aPg&usqp=CAU);
  background-color: #944545;
}
